<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <mediatypes>Image</mediatypes><!-- comma seperated list of mediatypes -->
  <propertyalias>umbracoFile</propertyalias><!-- alias of upload property -->
  <filetypes>jpg,jpeg,png</filetypes><!-- comma seperated list of file types to compress -->
  <triggersize>400</triggersize><!-- the trigger size in kB for when the compressor kicks in -->
  <targetwidth>1200</targetwidth><!-- sets the longest side of the downscaled image -->
  <jpgquality>80</jpgquality><!-- Any number between 0 to 100 where 100 is best quality/largest file -->
  <allowupscale>false</allowupscale><!-- allow upscale of images smaller than target width -->
  <preservefiletype>false</preservefiletype><!-- Experimental!, preserves png's with transparency -->
</settings>